{% extends 'estoque/base.html' %}

{% block content %}
<h2 class="titulo">Cadastrar Produto</h2>

<form method="post" class="form-flex">
  {% csrf_token %}

  <div class="form-row">
    <div class="form-group">
      <label for="id_nome">Nome do Produto:</label>
      {{ form.nome }}
    </div>
    <div class="form-group">
      <label for="id_pn">P/N:</label>
      {{ form.pn }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="id_sn">S/N:</label>
      {{ form.sn }}
    </div>
    <div class="form-group">
      <label for="id_quantidade">Quantidade:</label>
      {{ form.quantidade }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="id_validade">Validade:</label>
      {{ form.validade }}
      {% if form.validade.help_text %}
      <small>{{ form.validade.help_text }}</small>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="id_estoque_minimo">Estoque Mínimo:</label>
      {{ form.estoque_minimo }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="id_base">Base:</label>
      {{ form.base }}
    </div>
    <div class="form-group">
      <label for="id_destino">Destino:</label>
      {{ form.destino }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="id_local">Local:</label>
      {{ form.local }}
    </div>
    <div class="form-group">
      <label for="id_nome_responsavel">Nome do Responsável:</label>
      {{ form.nome_responsavel }}
    </div>
  </div>

  <div class="form-group">
    <label for="id_observacoes">Observações:</label>
    {{ form.observacoes }}
  </div>

  <div class="form-buttons">
    <button type="submit" class="btn">Salvar</button>
    <a href="{% url 'consulta_estoque' %}" class="btn btn-danger">Cancelar</a>
  </div>
</form>
{% endblock %}